[core]
	abbrev = 12
[pretty]
	fixes = Fixes: %h (\"%s\")
[user]
	signingkey = 4AD75758D9EE741C
	name = Harsh Shandilya
	email = harsh@prjkt.io
[push]
	default = simple
[color]
	ui = auto
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache --timeout=3000
[alias]
	a = add
	add-change-id = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend --no-edit && git commit --amend --no-edit && git rebase --continue; done' -"
	c = commit
	cp = cherry-pick --signoff
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	dc = diff --cached
	ds = diff --stat
	dsc = diff --stat --cached
	export = archive --format zip --output
	lo = log --oneline --no-merges
	los = log --oneline --stat
	lof = log --format=fixes
	lst = ls-tree --full-tree -r HEAD
	pr = pull --rebase
	ra = rebase --abort
	re = reset
	rc = rebase --continue
	rpc = reset --hard && cherry-pick --continue
	rs = rebase --skip
	rv = remote -v
	reword = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend && git rebase --continue;done' -"
	s = status
	su = submodule update --init --recursive
	ss = show --stat
	suicide = reset --hard

[merge]
	log = true
[gc]
	auto = 0
