[advice]
	skippedCherryPicks = false
[alias]
	a = add
	amc = "!xclip -out -selection clipboard | git am $@"
	branches = branch -r --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)'
	ca = commit -a
	cam = commit -am
	c = commit
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cp = cherry-pick --signoff
	dc = diff --cached
	dcs = diff --stat --cached
	d = diff
	dsc = diff --stat --cached
	ds = diff --stat
	expire-reflog = "!git reflog expire --expire=\"$(date)\" --all"
	export = archive --format zip --output
	fix = ca --fixup
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ >> .gitignore ;}; gi"
	kang = commit --amend --reset-author
	loa = log --oneline --author='Harsh Shandilya'
	loc = log --oneline --committer='Harsh Shandilya'
	lof = log --format=fixes
	lo = log --oneline
	los = log --oneline --stat
	lst = ls-tree --full-tree -r HEAD
	pf = push --force-with-lease
	publish = "!git push origin --set-upstream $(git rev-parse --abbrev-ref HEAD)"
	rc = rebase --continue
	reword = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend && git rebase --continue;done' -"
	ru = remote update --prune
	rv = remote -v
	squash = rebase -i --autosquash
	ss = show --stat
	s = status
	suicide = reset --hard
	su = submodule update --init --recursive
	sw = "!git switch $(git branch | fzf | tr -d '*[:space:]')"
[color]
	ui = true
[core]
	abbrev = 12
[credential]
	helper = cache --timeout=3000
[diff]
	tool = difftastic
	external = difft --display inline
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[fetch]
	showForcedUpdates = true
[gc]
	auto = 0
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[log]
	follow = true
[pager]
	difftool = true
[maintenance]
	repo = /home/msfjarvis/git-repos/nixpkgs/src
[maintenance "commit-graph"]
	enable = true
[maintenance "gc"]
	enable = true
[maintenance "incremental-repack"]
	enable = true
[maintenance "loose-objects"]
	enable = true
[maintenance "pack-refs"]
	enable = true
[maintenance "prefetch"]
	enable = true
[merge]
	log = true
[pretty]
	fixes = Fixes: %h (\"%s\")
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
[rerere]
	enabled = true
[scalar]
	repo = /home/msfjarvis/git-repos/nixpkgs/src
[user]
	email = me@msfjarvis.dev
	name = Harsh Shandilya
