color-link default "#{{base06-hex}},#{{base00-hex}}"
color-link comment "#{{base04-hex}},#{{base00-hex}}"
color-link identifier "#{{base05-hex}},#{{base00-hex}}"
color-link constant "#{{base09-hex}},#{{base00-hex}}"
color-link constant.string "#{{base0C-hex}},#{{base00-hex}}"
color-link constant.string.char "#{{base07-hex}},#{{base00-hex}}"
color-link statement "#{{base05-hex}},#{{base00-hex}}"
color-link preproc "#{{base08-hex}},#{{base00-hex}}"
color-link type "#{{base09-hex}},#{{base00-hex}}"
color-link special "#{{base09-hex}},#{{base00-hex}}"
color-link underlined "#{{base0A-hex}},#{{base00-hex}}"
color-link error "bold #{{base08-hex}},#{{base00-hex}}"
color-link todo "bold #{{base0E-hex}},#{{base00-hex}}"
color-link hlsearch "#{{base02-hex}},#{{base0A-hex}}"
color-link statusline "#{{base02-hex}},#{{base05-hex}}"
color-link indent-char "#505050,#{{base00-hex}}"
color-link line-number "#{{base04-hex}},#{{base01-hex}}"
color-link current-line-number "#{{base05-hex}},#{{base01-hex}}"
color-link diff-added "#00AF00"
color-link diff-modified "#FFAF00"
color-link diff-deleted "#D70000"
color-link gutter-error "#{{base08-hex}},#{{base01-hex}}"
color-link gutter-warning "#{{base0A-hex}},#{{base01-hex}}"
color-link cursor-line "#{{base01-hex}}"
color-link color-column "#{{base01-hex}}"
color-link symbol "#{{base06-hex}},#{{base00-hex}}"
