name: Update flake.lock and Caddy plugins
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * 0"
permissions: {}
jobs:
  update-flake-lock:
    name: "Update flake.lock"
    permissions:
      contents: write
    uses: msfjarvis/shared-workflows/.github/workflows/update-flake-lock.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
  update-caddy-plugins:
    name: "Update Caddy plugins"
    permissions:
      contents: write
    needs: update-flake-lock
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.ref }}
          # We push at the end
          persist-credentials: true
      - name: Setup Nix and Attic
        uses: ./.github/reusable-workflows/setup-nix-cache
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          attic-cache: x86_64-linux
          attic-public-key: "x86_64-linux:XrBbCCueC9hO05zf8GjmK1/YtHuZwqwcgx0pkHWLgvM="
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update Caddy plugins
        run: |
          python3 dev/caddy/update_caddy_plugins.py --force
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add packages/caddy-with-plugins/default.nix
          if git diff --staged --quiet; then
            echo "No Caddy plugin updates found"
          else
            git commit -m "chore: update Caddy plugins"
            git push
          fi
