on:
  repository_dispatch:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      package:
        description: "Package to check updates for"
        required: false
      version:
        description: "Version to pin package to"
        required: false
permissions: {}
name: Check for package updates
jobs:
  check-nix-update:
    name: "Update Nix packages in the Flake"
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            cache: x86_64-linux
            public-key: "x86_64-linux:XrBbCCueC9hO05zf8GjmK1/YtHuZwqwcgx0pkHWLgvM="
            # - runner: buildjet-4vcpu-ubuntu-2204-arm
            #   cache: aarch64-linux
            #   public-key: "aarch64-linux:n1uEEJsd/qjPYB1G3jUEW1oyia8O9rTCJKpCLgPW2gM="
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # We run Git commands at the end
          persist-credentials: true
      - name: Setup Nix and Attic
        uses: ./.github/reusable-workflows/setup-nix-cache
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          attic-cache: "${{ matrix.cache }}"
          attic-public-key: "${{ matrix.public-key }}"
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}
      - name: Set Git user and email
        shell: bash
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
      - name: Add nixpkgs-unstable channel
        shell: bash
        run: |
          nix-channel --add https://github.com/msfjarvis/nixpkgs/archive/"$(jq -r .nodes.nixpkgs.locked.rev flake.lock)".tar.gz nixpkgs
          nix-channel --update
      - name: Check pre-update Git ref
        shell: bash
        run: |
          echo "OLD_REF=$(git rev-parse HEAD)" >> "$GITHUB_ENV"
      - name: Check for updates of given package
        shell: bash
        if: "github.event.inputs.package != null || github.event.action == 'package-bump'"
        run: nix-shell -p nix-update git --run "./update.sh ${PACKAGE} ${VERSION}"
        env:
          CACHE_CMD: "attic push ${{ matrix.cache }}"
          PACKAGE_NAME: ${{ github.event.inputs.package || github.event.client_payload.package_name }}
          VERSION: ${{ github.event.inputs.version }}
      - name: Check for updates
        shell: bash
        if: "github.event.inputs.package == null"
        run: nix-shell -p nix-update git --run ./update.sh
        env:
          CACHE_CMD: "attic push ${{ matrix.cache }}"
      - name: Check post-update Git ref
        shell: bash
        run: |
          echo "NEW_REF=$(git rev-parse HEAD)" >> "$GITHUB_ENV"
      - name: Push to main branch
        if: "env.OLD_REF != env.NEW_REF && matrix.runner == 'ubuntu-latest'"
        shell: bash
        run: |
          git pull --rebase origin main
          git push origin main
